body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic',sans-serif;
}

header {
    width: 100%;
    padding: 40px;
    color: white;
    text-align: center;
    background: #607d8b;
}

nav ul {
    margin: 0;
    padding: 0;
    background: #6b8b98;
    text-align: center;
    overflow: hidden;
}

    nav ul li {
        display: inline-block;
        padding: 20px;
        list-style: none;
        transition: all ease-in-out 250ms;
    }

        nav ul li:hover {
            background: #607d8b;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
        }

.hide {
    padding: 16px;
    font-size: 22px;
    background: #607d8b;
    color: white;
    display: none;
    cursor: pointer;
}

@media screen and (max-width:680px) {
    nav ul li {
        width: 100%;
        padding: 15px;
        float: left;
        text-align: left;
    }

    nav ul {
        max-height: 0;
    }

    .hide {
        display: block;
    }

    .show {
        max-height: 20em;
    }
}